<div class="p-8">
  <form [formGroup]="formElement" class="flex flex-col space-y-2">

    <div class="flex space-x-2 items-center">
      <label for="closingText" class="block w-[140px]">Afsluiting</label>
      <textarea id="closingText" formControlName="closingText" class="p-2 border border-gray-200"></textarea>
    </div>

    <div class="flex space-x-2 items-center">
      <label for="firstName" class="block w-[140px]">Voornaam</label>
      <input id="firstName" formControlName="firstName" class="p-2 border border-gray-200" />
    </div>

    <div class="flex space-x-2 items-center">
      <label for="lastName" class="block w-[140px]">Achternaam</label>
      <input id="lastName" formControlName="lastName" class="p-2 border border-gray-200" />
    </div>

    <div class="flex space-x-2 items-center">
      <label for="functionTitle" class="block w-[140px]">Functie</label>
      <input id="functionTitle" formControlName="functionTitle" class="p-2 border border-gray-200" />
    </div>

    <div class="flex space-x-2 items-center">
      <label for="personalEmail" class="block w-[140px]">Email</label>
      <input id="personalEmail" formControlName="personalEmail" class="p-2 border border-gray-200" />
    </div>

    <div class="flex space-x-2 items-center">
      <label for="mobilePhoneNUmber" class="block w-[140px]">Telefoonnummer</label>
      <input id="mobilePhoneNUmber" formControlName="mobilePhoneNUmber" class="p-2 border border-gray-200" />
    </div>

    <div class="flex space-x-2 items-center">
      <label for="linkedinLink" class="block w-[140px]">LinkedIn</label>
      <input id="linkedinLink" formControlName="linkedinLink" class="p-2 border border-gray-200" />
    </div>

  </form>
</div>
