
<div class="flex flex-col h-screen bg-gray-100 w-screen justify-center items-center">
  <div class="flex">
    <div class="mb-16 w-[600px]">
      <app-form (formValuesChanged)="handleFormValuesChange($event)"></app-form>
    </div>
    <div class="flex flex-col">
      <div class="p-8 bg-white border border-gray-200 rounded-md">
        <table cellpadding="0" cellspacing="0" style="border:none; margin:0; padding:0;" id="signature">
          <tr>
            <td style="padding-left:15px;" colspan="2">
              <table cellpadding="0" cellspacing="0" style="border:none; margin-bottom:20px; padding:0;">
                <tr>
                  <td style="padding-bottom:20px">
                    {{ formValues.closingText }}
                  </td>
                </tr>
                <tr style="font-family:Arial, sans-serif; font-size:14px;">
                  <td valign="middle" style="font-size:18px; font-weight: bold;">
                    {{ formValues.firstName?.length > 0 ? formValues.firstName : 'John' }} {{ formValues.lastName?.length > 0 ? formValues.lastName : 'Doe' }}
                  </td>
                </tr>
                <tr>
                  <td style="color: #002f8d; font-family:Arial, sans-serif; font-size:16px;">
                    {{ formValues.functionTitle?.length > 0 ? formValues.functionTitle : 'Eindbaas' }}
                  </td>
                </tr>
              </table>
              <table cellpadding="0" cellspacing="0" style="border:none; margin:0; padding:0;">
                <tr style="font-family:Arial, sans-serif; font-size:14px;" *ngIf="formValues.mobilePhoneNUmber?.length > 0">
                  <td valign="middle" style="padding: 2px;">
                    <img src="https://www.befo.nl/assets/images/signature/phone.png" width="24" height="24" style="display:block; width:24px;height:24px;"/>
                  </td>
                  <td valign="middle" style="font-family:Arial, sans-serif; color:#222; font-size:14px; padding:2px;">
                    {{ formValues.mobilePhoneNUmber?.length > 0 ? formValues.mobilePhoneNUmber : '+31 6 12345678' }}
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <table cellpadding="0" cellspacing="0" style="border:none; margin:0; padding:0;">
                      <tr>
                        <td *ngIf="formValues.personalEmail?.length > 0" valign="middle" style="font-family:Arial, sans-serif; font-size:14px; padding:2px;">
                          <img src="https://www.befo.nl/assets/images/signature/envelope.png" width="24" height="24" style="display:block; width:24px;height:24px;"/>
                        </td>
                        <td *ngIf="formValues.personalEmail?.length > 0" valign="middle" style="font-family:Arial, sans-serif; color:#222; font-size:14px; padding:2px; padding-right:14px">
                          {{ formValues.personalEmail?.length > 0 ? formValues.personalEmail : 'mail@domein.com' }}
                        </td>
                        <td *ngIf="formValues.linkedinLink?.length > 0" valign="middle" style="font-family:Arial, sans-serif; font-size:14px; padding:2px;">
                          <img src="https://www.befo.nl/assets/images/signature/linkedin.png" width="24" height="24" style="display:block; width:24px;height:24px;"/>
                        </td>
                        <td valign="middle" style="font-family:Arial, sans-serif; color:#222; font-size:14px; padding:2px;">
                          <a *ngIf="formValues.linkedinLink?.length > 0" style="color:#222; text-decoration:none;" href="{{ formValues.linkedinLink }}">Let's connect</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="middle" style="font-family:Arial, sans-serif; font-size:14px; padding:2px;">
                    <img src="https://www.befo.nl/assets/images/signature/website.png" width="24" height="24" style="display:block; width:24px;height:24px;"/>
                  </td>
                  <td valign="middle" style="font-family:Arial, sans-serif; font-size:14px; padding:2px;">
                    <a href="https://www.befo.nl" style="color:#222; text-decoration:none;">Befo.nl</a> / <a href="https://www.linkedin.com/company/befo-almelo-bv" style="color:#222; text-decoration:none;">LinkedIn</a>
                  </td>
                </tr>
                <tr>
                  <td valign="middle" style="font-family:Arial, sans-serif; font-size:14px; padding:2px;">
                    <img src="https://www.befo.nl/assets/images/signature/companyphone.png" width="24" height="24" style="display:block; width:24px;height:24px; color:#222; text-decoration:none;"/>
                  </td>
                  <td valign="middle" style="font-family:Arial, sans-serif; color:#222; font-size:14px; padding:2px; text-decoration: none;">
                    +31 (0) 546 – 48 48 00
                  </td>
                </tr>
                <tr>
                  <td valign="middle" style="font-family:Arial, sans-serif; font-size:14px; padding:2px;">
                    <img src="https://www.befo.nl/assets/images/signature/home.png" width="24" height="24" style="display:block; width:24px;height:24px;"/>
                  </td>
                  <td valign="middle" style="font-family:Arial, sans-serif; color:#222; font-size:14px; padding:2px;">
                    Bedrijvenpark Twente 142, 7602 KE Almelo
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="vertical-align:top;">
              <a href="https://www.befo.nl" style="outline: none; text-decoration: none; color: #002f8d; ">
                <img src="https://www.befo.nl/assets/images/signature/logo.png" alt="Logo" style="border:none; display:block; outline: none; width: 196px; height: 95px; margin-top: 10px;" width="196" height="95"/>
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div class="mt-2 self-end">
        <button (click)="copyToClipboard()" class="bg-blue-800 text-white p-2 rounded-md">
          Kopiëren
        </button>
      </div>
    </div>
  </div>
</div>


